@import "header.css";
@import "footer.css";


#chat_layout {
	width:100%;
	height: 1000px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #F2F3F5;
}
#sender {
	display: flex;
	justify-content: center;
  	align-items: center;
  	width: 40%;
	height: 80px;
	background-color: gray;
}

#reciver {
	display: flex;
	justify-content: center;
  	align-items: center;
  	width: 60%;
	height: 80px;
	background-color: blue;
}

#chatlist {
	width: 40%;
	background-color: green;
	height: 80px;
}

#chatroom {
	width: 60%;
}